@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
@layer base {
  html {
    font-family: Quicksand, sans-serif;
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.main{
  opacity: 0;
  display: none;
}

.bgcolor{
  background-color: rgba(255,255,255, 0.6);
}

.logo{
  width: 70px;
  height: 60px;
  display: block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
}
.actIV, .navbtn:hover{
 color: rgb(107, 114, 128);  
}

@media screen and (max-width: 550px) {
  .logo{
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
 }

.navitems::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #707070;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navitems:hover:after {
  width: 100%;
}

.herobg {
  margin: 0;
  background-size: cover;
  background: url("./img/") no-repeat center center fixed;
  background-blend-mode: color-burn;
  -webkit-transition: 3s;
  transition:background-image 3s;
  border-bottom: #fff;
  height: 100vh;
    
}
/* linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), */


.custom-shape-divider-bottom-1658269403 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658269403 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 130px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1658269403 .shape-fill {
  fill: #fff;
}

.clippy{
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(-100px);
}

.btnanimation {
  display: none;
}

.dis:hover svg {
  display: block;
}

.dis:hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.textshadow {
  text-shadow: 1px 1px #000;
}

.textunderline {
  text-decoration: underline #fc7b54;
  text-underline-offset: 1rem;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} 


/*  03  - Banner
----------------------------------------------*/
.banner {
  position: relative;
}

.banner .banner-item img {
  width: 100%;
}

.banner .banner-item {
  background-image:url(./img/herobg.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

.banner .banner-item.slide-two {
  background-image: url(./img/herobg1.JPG);
  background-size: cover;
  background-position: center bottom;
  height: 95vh;

}

.banner .banner-item.slide-three {
  background-image:url(./img/herobg2.JPG);
  height: 95vh;
}

.banner .banner-item .banner-content {
  padding: 50px 30px;
}

@media only screen and (max-width: 500px) {
  .banner .banner-item {
    background-image:url(./imG/herobg.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .banner .banner-item.slide-two {
    background-image: url(./imG/herobg1.JPG);
    height: 45vh;
  
  }
  
  .banner .banner-item.slide-three {
    background-image:url(./imG/herobg2.jpg);
    height: 45vh;
  }

  .banner .banner-item .banner-content {
    padding: 50px 20px;
  }
}



.banner .banner-item .banner-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .2);
}



.banner .banner-item .banner-content h3 {
  transition: .5s ease-out;
  -webkit-transition: .5s ease-out;
  opacity: 1;
}

.banner .banner-item .banner-content h2 {
  display: inline-block;
  line-height: 1;
  margin-bottom: 10px;
  transition: .5s ease-out;
  -webkit-transition: .5s ease-out;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
  opacity: 1;
}

.banner .banner-item .banner-content p {
  max-width: 570px;
  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  opacity: 1;
}

.banner .banner-item .banner-content ul {
  overflow: hidden;
  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  transition-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
  opacity: 1;
}

.banner .banner-item .banner-content ul li {
  list-style: none;
  /* display: inline-block; */
  float: left;
  margin-right: 20px;
}

.banner .banner-item .banner-content ul li:last-child {
  margin: 0px;
}

/* .banner .banner-item .banner-content ul li:last-child a {
  background-color: #fcb614;
}

.banner .banner-item .banner-content ul li:last-child a:hover {
  background-color: #ecb200;
} */

.banner .swiper-container-horizontal>.swiper-pagination-bullets,
.banner .swiper-pagination-custom,
.banner .swiper-pagination-fraction {
  bottom: 50px;
}

.banner .swiper-pagination-bullet {
  background-color: #fff;
  height: 10px;
  width: 10px;
  opacity: 1;
}

.banner .swiper-pagination-bullet-active {
  background-color: #92278f;
}

.banner .banner-item.slide-one .banner-content h3 {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  opacity: 0;
}

.banner .banner-item.slide-one.swiper-slide-active .banner-content h3 {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}

.banner .banner-item.slide-one .banner-content h2 {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  opacity: 0;
}

.banner .banner-item.slide-one.swiper-slide-active .banner-content h2 {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}

.banner .banner-item.slide-one .banner-content p {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  opacity: 0;
}

.banner .banner-item.slide-one.swiper-slide-active .banner-content p {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}

.banner .banner-item.slide-one .banner-content ul {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  opacity: 0;
}

.banner .banner-item.slide-one.swiper-slide-active .banner-content ul {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
}

.banner .banner-item.slide-two .banner-content h3 {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  opacity: 0;
}

.banner .banner-item.slide-two.swiper-slide-active .banner-content h3 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.banner .banner-item.slide-two .banner-content h2 {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  opacity: 0;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.banner .banner-item.slide-two.swiper-slide-active .banner-content h2 {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}

.banner .banner-item.slide-two .banner-content p {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.banner .banner-item.slide-two.swiper-slide-active .banner-content p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.banner .banner-item.slide-two .banner-content ul {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

.banner .banner-item.slide-two.swiper-slide-active .banner-content ul {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  display: flex;
  flex-wrap: wrap;
}

.banner .banner-item.slide-three .banner-content h3,
.banner .banner-item.slide-three .banner-content h2,
.banner .banner-item.slide-three .banner-content p,
.banner .banner-item.slide-three .banner-content ul {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
}

.banner .banner-item.slide-three.swiper-slide-active .banner-content h3,
.banner .banner-item.slide-three.swiper-slide-active .banner-content h2,
.banner .banner-item.slide-three.swiper-slide-active .banner-content p,
.banner .banner-item.slide-three.swiper-slide-active .banner-content ul {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;

}

.banner .banner-item.slide-three.swiper-slide-active .banner-content ul {
  display: flex;
  flex-wrap: wrap;
}

.banner-two .banner-item.slide-one {
  background-image: url(./img/banner/banner_04.jpg);
}

.banner-two .banner-item.slide-two {
  background-image: url(./img/banner/banner_05.jpg);
}

.banner-two .banner-item.slide-three {
  background-image: url(./img/banner/banner_06.jpg);
}

.banner-two .banner-content {
  text-align: center;
}

.banner-two .banner-content p {
  margin: 0 auto 40px;
}

.banner-two .banner-item .banner-content ul li {
  float: initial;
  margin-right: 15px;
}

.banner-three .banner-item.slide-one {
  background-image: url(./img/banner/banner_07.jpg);
}

.banner-three .banner-item.slide-two {
  background-image: url(./img/banner/banner_08.jpg);
}

.banner-three .banner-item.slide-three {
  background-image: url(./img/banner/banner_09.jpg);
}

.banner-three .banner-item .banner-content h2 {
  font-size: 60px;
}

.banner-three .banner-content p {
  margin: 0 auto 40px;
}

.banner-three .banner-item .banner-content ul li {
  float: initial;
  margin-right: 15px;
}

.banner-four .banner-item.slide-one {
  background-image: url(../../images/banner/banner_10.jpg);
}

.banner-four .banner-item.slide-two {
  background-image: url(../../images/banner/banner_11.jpg);
}

.banner-four .banner-item.slide-three {
  background-image: url(../../images/banner/banner_12.jpg);
}
.section-notch {
  position: relative;
}

.section-notch:before {
  content: "";
  position: absolute;
  background: url(./img/section_notch_top.png);
  background-repeat: repeat-x;
  display: block;
  top: 0;
  width: 100%;
  height: 7px;
  z-index: 2;
}

/* .section-notch:after {
  content: "";
  position: absolute;
  background-image: url(./img/section_notch_bottom.png);
  background-repeat: repeat-x;
  bottom: 0;
  width: 100%;
  height: 7px;
  z-index: 2;
} */
/*  05  - Facility
----------------------------------------------*/
.facility .facility-item {
  text-align: center;
}

.facility .facility-item .icon {
  background-color: #e84b3a;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.facility .facility-item .icon:before {
  font-size: 40px;
  color: #fff;
  margin: 0px;
  line-height: 2.5;
  display: inline-block;
  -webkit-transition: .25s ease-out;
  transition: 1s ease-out;
}

.facility .facility-item:hover .icon:before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.facility .facility-item h4 {
  color: #e84b3a;
  margin-bottom: 15px;
}

.facility .facility-item p {
  line-height: 26px;
  margin: 0px;
  text-align: center;
}

.facility>div>div>div:nth-child(2) .facility-item span {
  background-color: #ffc000;
}

.facility>div>div>div:nth-child(2) h4 {
  color: #ffc000;
}

.facility>div>div>div:nth-child(3) .facility-item span {
  background-color: #fc7f0c;
}

.facility>div>div>div:nth-child(3) .facility-item h4 {
  color: #fc7f0c;
}

.facility>div>div>div:nth-child(4) .facility-item span {
  background-color: #92278f;
}

.facility>div>div>div:nth-child(4) .facility-item h4 {
  color: #92278f;
}

.facility-two {
  overflow: hidden;
}

.facility-two .facility-item {
  float: left;
  position: relative;
  width: calc(100% / 4 - 1px);
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  height: 220px;
  position: relative;
  -webkit-perspective: 800px;
  perspective: 800px;
  overflow: visible;
}

.facility-two .facility-item .icon-two:before {
  font-size: 60px;
  color: #fff;
}

.facility-two .facility-item .back-part .icon-two:before {
  font-size: 40px;
}

.facility-two .facility-item h4 {
  color: #fff !important;
}

.facility-two .facility-item p {
  color: #fff;
}

.facility-two .facility-item {
  position: relative;
  min-height: 250px;
}

.facility-two .facility-item .front-part {
  padding: 46px 10px;
}

.facility-two .facility-item .front-part,
.facility-two .facility-item .back-part {
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  text-align: center;
  /* display: block; */
  min-height: 250px;
  width: 100%;
  overflow: hidden;
  background-color: #e84b3a;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.facility-two .facility-item:nth-child(2) .front-part,
.facility-two .facility-item:nth-child(2) .back-part {
  background-color: #ffc000;
}

.facility-two .facility-item:nth-child(3) .front-part,
.facility-two .facility-item:nth-child(3) .back-part {
  background-color: #fc7f0c;
}

.facility-two .facility-item:nth-child(4) .front-part,
.facility-two .facility-item:nth-child(4) .back-part {
  background-color: #92278f;
}

.facility-two .facility-item .back-part {
  padding: 20px 10px;
}

.facility-two .facility-item:hover .front-part {
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}

.facility-two .facility-item .back-part {
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}

.facility-two .facility-item:hover .back-part {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.facility-three {
  background-image: url(../../images/background/facility-bg.jpg);
  background-size: cover;
  background-position: center;
}


.galbg {
  background:linear-gradient(rgba(77, 77, 77, .850),rgba(77, 77, 77, .85)),  url(./img/bc75517a-8156-4160-983f-257c74b9889d.JPG); 
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.secondbg {
  background:url(./img/bc75517a-8156-4160-983f-257c74b9889d.JPG);
  height: 90vh;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bluey{
  background: rgba(4, 9, 30, 0.7);
  animation: bluebg1 3s ease-in-out;
}

@keyframes bluebg1 {
  from{
    background: rgba(4, 9, 30, 0.7);
    opacity: 0;
  }
  to{
    background: rgba(4, 9, 30, 0.7);
    opacity: 1;
  }
}
.counter1 {
  background-image: linear-gradient(
    rgba(4, 9, 30, 0.7),
    rgba(4, 9, 30, 0.7)
    ),
    url(./img/bc75517a-8156-4160-983f-257c74b9889d.JPG00000000000000000000);
  background-position: bottom center;
  background-position: fixed;
  background-size: cover;
  position: relative;
}
.contains {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  background-color: transparent;
  border-top: 5px solid #fff;
  border-bottom: 10px solid  rgba(7, 143, 203, .8);
}

.rip {
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(252, 123, 84, 0.1),
      0 0 0 7px rgba(252, 123, 84, 0.1), 0 0 0 14px rgba(252, 123, 84, 0.1),
      0 0 0 21px rgba(252, 123, 84, 0.1);
  }

  100% {
    box-shadow: 0 0 0 7px rgba(252, 123, 84, 0.1),
      0 0 0 14px rgba(252, 123, 84, 0.1), 0 0 0 21px rgba(252, 123, 84, 0.1),
      0 0 0 28px rgba(252, 123, 84, 0);
  }
}
.fancy-border {
  border-top: 5px solid;
  border-image: linear-gradient(
      to right,
      #72248c 25%,
      #fc7b54 25%,
      #fc7b54 50%,
      #6aa457 50%,
      #6aa457 75%,
      #6797c7 75%
    )
    5;
}
.scroll-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #92278f;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 50px;
  position: fixed;
  top: 85%;
  right:5%;
  text-decoration: none;
  z-index: 97;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.scroll-top:hover {
  background-color: #92278f;
}

.scroll-top.open {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.scroll-top:hover,
.scroll-top:focus {
  color: #fff;
}
.banner {
  animation: bandisplay 1s forwards;
  animation-delay: 0.7s;
  transition: 0.5s linear;
  -webkit-transition: 0.5s ease-out;
  opacity: 0;
}

.banner1 {
  animation: bandisplay 1s forwards;
  animation-delay: 1s;
  transition: 0.5s linear;
  -webkit-transition: 0.5s ease-out;
  opacity: 0;
}

.banner2 {
  animation: bandisplay 1s forwards;
  animation-delay: 1.3s;
  transition: 0.5s linear;
  -webkit-transition: 0.5s ease-out;
  opacity: 0;
}

@keyframes bandisplay {
  0% {
    transform: translateY(-125px);
    -webkit-transform: translateY(-125px);
  }

  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

.ball {
  animation: bounce 2s ease-in-out infinite;
  /* animation-name: bounce ease-in-out; */
  /* animation-duration: 4s; */
  /* animation-delay: 2s; */
  /* animation-direction: e; */
  /* animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5); */
  /* animation-iteration-count: infinite; */
}

@keyframes bounce {
  0%{
    transform: translate(0, -44%);
}
50%{
    transform: translate(0, -54%);
}
100%{
    transform: translate(0, -44%);
}
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.revealleft {
  position: relative;
  transform: translateX(-200px);
  opacity: 0;
  transition: 1s all ease;
}

.revealleft.active {
  transform: translateY(0);
  opacity: 1;
}
.revealright {
  position: relative;
  transform: translate3d(-2.7rem, -10rem, 1rem);
  opacity: 0;
  transition: 1s all ease;
}

.revealright.active {
  transform: translate3d(0, 0,0);
  opacity: 1;
}
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;

    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.close {
    display: none;
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
    z-index: 999;
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}


    .headerbg {
        background-color: #fff;
        background-position: fixed;
        width: 100%;
        box-shadow: 8px;
        position:fixed;
        top: 0;
        z-index: 99;
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
    
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown ;
    }
    
    .menu-fixed {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 99;
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    }

.boxshad{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
}  

.show {
    transition: 1s;
  
}
.sidebar{
    transition: right .5s;
    right:-100% 
}
.change{
    right:0;
    /* filter: brightness(1); */
}

/* .rbright{
  filter: brightness(50%);
} */

/* .rdull{
  filter: contrast(50%);
} */


/* ABOUT US */
.aboutusbg{

  background:linear-gradient( rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(./img/banner/DSC_3408.JPG);
  height: 80vh;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  border-bottom: #FFFFFF;
}

@media screen and (max-width:500px) {
  .aboutusbg{
    background:linear-gradient( rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(./img/banner/DSC_3408.JPG);
    height: 60vh;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    border-bottom: #FFFFFF;
  }
}

.aboutsecondbg {
  background: linear-gradient( rgba(4, 9, 30, 0.7),  rgba(4, 9, 30, 0.7)),  url(./img/gallery/DSC_3310.JPG);
  height: 90vh;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
 position: relative;
  background-repeat: no-repeat;
  
}
@media screen and (min-width: 1024px) {
  .aboutsecondbg {
    background: linear-gradient( rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),  url(./img/gallery/DSC_3310.JPG);
    height: 70vh;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
   position: relative;
    background-repeat: no-repeat;
    
  }
}
.aboutcard{
  background:rgba(255,255,255, 0.55);
}

/* Admission Inquiry */

.admissionsecondbg {
  background: linear-gradient( rgba(4, 9, 30, 0.7),  rgba(4, 9, 30, 0.7)),  url(./img/banner/P1010711.JPG);
  height: 30vh;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
 position: relative;
  background-repeat: no-repeat;
  
}
@media screen and (max-width: 550px) {
 .left{
  left: 10%;
 }
}

/* Gallery */
.gallerybg{
  background:linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url(./img/banner/DSC_3408.JPG);
  height: 60vh;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  border-bottom: #FFFFFF;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


.icon {
  display: block;
  color: #fff;
  text-align: center;

}

.icon:before {
  font-size: 2rem;
  font-weight: 400;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: rgb(31, 41, 55);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #8dc63f;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
.wigContent{
  width: 100%;
  max-width: 275px;
  /* max-width: 100%; */
  height: 400px;
  /* width: 275px; */
 
}

